.menu li a:hover {
  border-bottom: 5px solid red;
}

.dropdown-content li a:hover {
  color: white;
  border-bottom: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 73px;
  heigh: 50px;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.secondary-link {
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 8px;
  overflow: hidden;
}

.column {
  column-count: 3;
}

.border-b-1 {
}

.button-leftarrow {
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  border-width: 0;
}

.swapfield {
  width: 3.625rem;
  height: 1.85rem;
  margin-top: 1.125rem;
}

.selectParent {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right;
  line-height: 1;
  border: 0;
  -webkit-appearance: none;
  border-bottom-width: 1px;
}
