.menu li a:hover {
  border-bottom: 5px solid red;
}

.dropdown-content li a:hover {
  color: white;
  border-bottom: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 73px;
}

.dropbtn:hover .dropdown-content {
  display: block;
}
