.menu li a:hover {
  border-bottom: 5px solid red;
}

.dropdown-content li a:hover {
  color: white;
  border-bottom: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 73px;
  heigh: 50px;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.secondary-link {
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 8px;
  overflow: hidden;
}

.column {
  column-count: 3;
}

.border-1 {
  border-width: 1px;
}
